$theme-color: #1976d2;

:host {
    height: 100%;
    display: block;
}

h1 {
    color: black;
    padding: 10px;
    margin: 0px;
}

.todo-input-container {
    display: flex;
    align-items: center;
    margin: 10px;
    input[type="text"] {
        height: 20px;
        line-height: 20px;
        padding: 3px 5px;
        width: 250px;
        padding-right:30px;
        border-radius: 5px;
        border: 2px solid $theme-color;
    }
    img {
        position: relative;
        left: -30px;
        z-index: 1;
        height: 30px;
        width: 30px;
        border-radius: 5px;
        cursor: pointer;
    }
}

.board {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .column {
        padding: 5px;
        height: 100%;
        margin: 10px;
        width: 277px;
        border-radius: 5px;
        min-height: 80px;
        background-color:  #8080801c;
        transition: height 0.5s ease-in-out;
    }
}
